body {
    margin: 0;
}

.graphiql-container, .CodeMirror-info, .CodeMirror-lint-tooltip, reach-portal {
    --color-primary: 199, 63%, 51% !important;
}

@media (prefers-color-scheme: dark) {
    body:not(.graphiql-light) .graphiql-container,body:not(.graphiql-light) .CodeMirror-info,body:not(.graphiql-light) .CodeMirror-lint-tooltip,body:not(.graphiql-light) reach-portal {
    	--color-base: 210, 10%, 23% !important;
    }
}

body.graphiql-dark .graphiql-container,
body.graphiql-dark .CodeMirror-info,
body.graphiql-dark .CodeMirror-lint-tooltip,
body.graphiql-dark reach-portal {
	--color-base: 210, 10%, 23% !important;
}

#graphiql {
    height: 100vh;
}

#graphQLUiLogoLink {
    display: flex;
    justify-content: center;
}
