body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
#graphiql {
    height: 100vh;
}
.graphiql-container .topBar{
    background:#343a40;
    border-bottom-color: #343a40!important;
}
.graphiql-container .execute-button{
    box-shadow:unset;
}
.history-contents>li:hover{
    background-color: #00aada !important;
}
.toolbar-button {
    background: none!important;
    border: none!important;
    padding: 0!important;
    color: white!important;
    cursor: pointer;
    border-radius: unset!important;
    box-shadow: unset!important;
}

.toolbar-button:hover {
    color: #01a0cc!important;
}

.execute-button {
    background: none!important;
    border-color: #01a0cc!important;
    padding: 0!important;
    cursor: pointer;
    box-shadow: unset!important;
}

.execute-button svg {
    fill: #01a0cc;
}

.execute-button:hover svg {
    fill: white;
}

.execute-button:hover {
    border-color: white!important;
}

.docExplorerShow {
    background: #343a40!important;
    border: unset!important;
    color: white!important;
}

.docExplorerShow:hover{
    color: #01a0cc!important;
}

.docExplorerShow::before {
    border-left: 2px solid white!important;
    border-top: 2px solid white!important;
}

.docExplorerShow:hover::before{
    border-left: 2px solid #01a0cc!important;
    border-top: 2px solid #01a0cc!important;
}