name: SmallRye Build

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    name: build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: actions/setup-java@v1.4.3
        name: set up jdk ${{matrix.java}}
        with:
          java-version: ${{matrix.java}}

      - name: Install graphviz
        run: sudo apt install graphviz
        
      - name: build with maven
        run: mvn -B formatter:validate impsort:check javadoc:javadoc install --file pom.xml

  wildfly-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8]
    name: WildFly GraphQL feature pack tests

    steps:
      - uses: actions/checkout@v2
        name: checkout

      - name: checkout WildFly feature pack repository
        uses: actions/checkout@v2
        with:
          repository: wildfly-extras/wildfly-graphql-feature-pack
          ref: main
          path: wildfly-graphql-feature-pack

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - uses: actions/setup-java@v1.4.3
        name: set up jdk ${{matrix.java}}
        with:
          java-version: ${{matrix.java}}

      - name: build with maven
        run: mvn -B install -DskipTests --file pom.xml

      - name: Install xmllint
        run: sudo apt-get install libxml2-utils

      - name: run WildFly feature pack tests
        run: |
          SMALLRYE_VERSION=$(xmllint --xpath '/*[local-name()="project"]/*[local-name()="version"]/text()' pom.xml) && \
          echo "SMALLRYE_VERSION=$SMALLRYE_VERSION" && \
          mvn install -Dversion.io.smallrye.graphql=$SMALLRYE_VERSION --file wildfly-graphql-feature-pack/pom.xml

  quality:
    needs: [build]
    if: github.event_name == 'push' && github.repository == 'smallrye/smallrye-graphql'
    runs-on: ubuntu-latest
    name: quality

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1.4.3
        with:
          java-version: 11

      - name: sonar
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
        run: mvn -B install --file pom.xml -Pcoverage javadoc:javadoc sonar:sonar -Dsonar.projectKey=smallrye_smallrye-graphql -Dsonar.login=$SONAR_TOKEN
