name: SmallRye Release

on:
  pull_request:
    types: [closed]
    paths:
      - '.github/project.yml'

jobs:
  release:
    runs-on: ubuntu-latest
    name: release
    if: ${{github.event.pull_request.merged == true}}
    env:
      GITHUB_TOKEN: ${{secrets.RELEASE_TOKEN}}

    steps:
      - uses: radcortez/project-metadata-action@main
        name: retrieve project metadata
        id: metadata
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          metadata-file-path: '.github/project.yml'

      - uses: actions/checkout@v2
        with:
          token: ${{secrets.RELEASE_TOKEN}}

      - uses: actions/setup-java@v1.4.3
        with:
          java-version: 8

      - name: Install graphviz
        run: sudo apt install graphviz
        
      - name: maven release ${{steps.metadata.outputs.current-version}}
        run: |
          java -version
          gpg --quiet --batch --yes --decrypt --passphrase="${{secrets.SECRET_PASSPHRASE}}" --output smallrye-sign.asc .github/release/smallrye-sign.asc.gpg
          gpg --quiet --batch --yes --decrypt --passphrase="${{secrets.SECRET_PASSPHRASE}}" --output maven-settings.xml .github/release/maven-settings.xml.gpg
          gpg --fast-import --no-tty --batch --yes smallrye-sign.asc
          git config --global user.name "SmallRye CI"
          git config --global user.email "smallrye@googlegroups.com"
          git checkout -b release
          # update gradle version plugin
          echo "version=${{steps.metadata.outputs.current-version}}" > tools/gradle-plugin/gradle.properties
          git add tools/gradle-plugin/gradle.properties
          git commit -m "Update Gradle plugin version"
          # make sure the server/integration-tests-jdk16 gets its version updated too: include the jdk16plus profile
          mvn -X -e -B release:prepare -Prelease -Pjdk16plus -DreleaseVersion=${{steps.metadata.outputs.current-version}} -DdevelopmentVersion=${{steps.metadata.outputs.next-version}} -s maven-settings.xml
          git checkout ${{github.base_ref}}
          git rebase release
          mvn -X -e -B release:perform -Prelease -Pjdk16plus -s maven-settings.xml
          git push
          git push --tags

      - name: Gradle plugin release ${{steps.metadata.outputs.current-version}}
        run:
          mkdir -p ~/.gradle ; echo -e "gradle.publish.key=${{secrets.GRADLE_PUBLISH_KEY}}\ngradle.publish.secret=${{secrets.GRADLE_PUBLISH_SECRET}}" > ~/.gradle/gradle.properties
          cd tools/gradle-plugin && gradle publishPlugins

      - uses: radcortez/milestone-release-action@main
        name: milestone release
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          milestone-title: ${{steps.metadata.outputs.current-version}}
